---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fractaline Forest">
  <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" rel="stylesheet">
  
  <main>
    <h1 class="cursive">❖ Fractaline Forest ❖</h1>
    <h2 class="cursive">An interactive story based on Farcaster.</h2>

    <section id="hero">
      <img src="/images/Cover-Image-Test.png" alt="Fractaline Forest Cover" class="background-image">
      <div id="subscribe">
        <form id="supportForm">
          <div class="input-wrapper">
            <input type="number" id="supportAmount" placeholder="Enter FID and press the" required />
            <button type="submit">❖</button>
            <span class="error-message" id="error-message">Please fill out this field <span class="exclamation-icon">❗</span></span>
          </div>
        </form>
      </div>
    </section>    

    <section class="pattern-section">
      <img src="/images/Fractaline-Pattern.png" alt="Fractaline Forest Pattern" class="pattern-image">
    </section> 

    <section class="about-section">
      <h1 class="cursive">❖ About ❖</h1>
      <h2 class="cursive">Fractaline Forest is an intricate allegory that weaves together philosophical inquiry and social network experiences to create an immersive, interactive narrative. The forest itself represents the complex web of social consciousness and the quest for unity and understanding. At the heart of this narrative are four archetypal characters, The Guides, each embodying distinct aspects of the human experience and propelling the forest inhabitants towards self-discovery and collective harmony.</h2>
    </section>

    <h1 class="cursive section-title">❖ The Guides ❖</h1>

    <section id="characters">
      <div class="character">
        <h3>Vector</h3>
        <img src="/images/vector.png" alt="Vector">
      </div>
      <div class="character">
        <h3>Thorn</h3>
        <img src="images/thorn.png" alt="Thorn">
      </div>
      <div class="character">
        <h3>Sylvan</h3>
        <img src="/images/sylvan.png" alt="Sylvan">        
      </div>
      <div class="character">
        <h3>Oran</h3>
        <img src="/images/oran.png" alt="Oran">
      </div>
    </section>
    


    <section class="tree-wolf-section">
      <img src="/images/Tree-Wolf.png" alt="Tree Wolf" class="tree-wolf-image">
    </section> 

    <h1 class="cursive">❖ Only For the Brave ❖</h1>

    <footer>
      <p>&copy; 2024 Fractaline Forest. All rights reserved.</p>
    </footer>

  </main>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const supportForm = document.getElementById('supportForm');
      const inputField = document.getElementById('supportAmount') as HTMLInputElement | null;
      const errorMessage = document.getElementById('error-message');
      
      supportForm?.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting
  
        const value = inputField?.value;
        if (!value) {
          if (errorMessage) errorMessage.style.display = 'inline'; // Show the custom error message
          inputField?.classList.add('input-error'); // Add error styling
        } else {
          const fid = parseInt(value, 10);
          if (isNaN(fid)) {
            if (errorMessage) errorMessage.style.display = 'inline'; // Show the custom error message
            inputField?.classList.add('input-error'); // Add error styling
          } else {
            if (errorMessage) errorMessage.style.display = 'none'; // Hide the custom error message
            console.log(`Redirecting to /vector?fid=${fid}`);
            window.location.href = `/vector?fid=${fid}`; // Redirect with query parameter
          }
        }
      });
  
      inputField?.addEventListener('input', function() {
        if (errorMessage) errorMessage.style.display = 'none'; // Hide the custom error message when input changes
        inputField?.classList.remove('input-error'); // Remove error styling
      });
    });
  </script>

</Layout>


<style>

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

/* General styles */
body {
  font-family: 'Jim Nightshade', cursive;
  background-color: #FFFFFF;
  color: #12010B;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1.cursive, h2.cursive {
  font-family: 'Jim Nightshade', cursive;
  text-align: center;
}

h1 {
  font-size: 3em;
  width: 80%;
  max-width: 700px;
  margin: 35px auto;
}

h2 {
  font-size: 2em;
  width: 80%;
  max-width: 700px;
  font-weight: 300;
  margin: 0 auto;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: #12010B;
}

h4 {
  font-size: 1.5em;
  font-weight: 300;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: white;
}

/* Custom class for specific padding */
.section-title {
  padding-top: 40px; /* Add desired padding above this specific h1 */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
}

/* Hero section */
#hero {
  background: linear-gradient(
    to bottom,
    #FFFFFF,
    #3e4a57
  );
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 120px; /* Increase bottom padding */
  position: relative;
  margin-bottom: 0;
}

.background-image {
  width: 100%;
  height: auto;
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* About section */
.about-section {
  background: #3e4a57;
  color: white;
  padding-top: 180px; /* Increase top padding */
  padding-bottom: 180px; /* Increase bottom padding */
  margin: 30px auto; /* Add top and bottom margin */
  text-align: center;
  font-weight: 200;
}

/* Tree Wolf section */
.tree-wolf-section {
  background: #FFFFFF;
  color: #12010B;
  padding: 40px 20px;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-weight: 200;
}

.tree-wolf-image {
  width: 100%; /* Adjust width as needed */
  max-width: 500px; /* Control the maximum width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image */
  display: block; /* Ensure block-level display for centering */
}

/* Forest Path section */
.forest-path-section {
  background: #FFFFFF;
  color: #12010B;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 200;
}

/* Frame Path section */
.frame-path-section {
  background: #FFFFFF;
  color: #12010B;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 200;
}

/* Pattern section */
.pattern-section {
  background: white;
  text-align: center;
  padding-top: 180px; /* Increase top padding */
  padding-bottom: 180px; /* Increase bottom padding */
  position: relative;
  margin-bottom: 0;
}

.pattern-image {
  display: block;
  margin: 30px auto; /* Add top and bottom margin */
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* Characters section */
#characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; /* Adjust gap between character divs */
  padding: 20px; /* Add padding around the characters section */
  margin-bottom: 0;
}

#characters .character {
  text-align: center;
}

#characters .character img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

#characters .character h3 {
  font-size: 2em;
  margin: 5px 0; /* Reduce margin to pin elements closer together */
}

#characters .character h4 {
  font-size: 1.5em;
  margin: 5px 0 0 0;
  color: #12010B;
}


/* Hide up and down arrows from number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Wrapper for input and button */
.input-wrapper {
  position: relative;
  display: inline-block;
}

#subscribe input[type="number"] {
  padding: 10px 40px 10px 20px; /* Adjust right padding to make space for the button */
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Jim Nightshade', cursive;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Change border color on focus */
#subscribe input[type="number"]:focus {
  border-color: #3e4a57; /* Change to your desired color */
  outline: none; /* Remove the default outline */
}

/* Style the submit button to be inside the input field */
#subscribe button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border: none;
  padding: 0 15px;
  font-size: 1.6em;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Jim Nightshade', cursive;
}

#subscribe button:focus {
  outline: none;
}

/* Error message styles */
.error-message {
  display: none;
  color: green;
  font-size: 0.9em;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.exclamation-icon {
  color: green;
}


/* Footer */
footer {
  background-color: #3e4a57;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

/* New CSS rule for <p> elements */
p {
  font-family: 'Jim Nightshade', cursive;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 1em;
  color: white;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 900px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.25em;
  }
  .character {
    width: 100%;
    margin: 10px 0;
  }
  .background-image {
    width: 100%;
    max-width: none;
  }
  .pattern-image {
    width: 100%;
    max-width: none;
  }
  section, .about-section, .pattern-section, .tree-wolf-section, .frame-path-section {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  body, html {
    width: 100%;
  }
  h1, h2, h3, h4, p, section, .about-section, .pattern-section, .tree-wolf-section, .frame-path-section {
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  #characters {
    grid-template-columns: 1fr;
  }
}

</style>